*{
    box-sizing: border-box;
    font-family: Arial,Verdana,sans-serif;
    color: beige;
    font-size: 10pt;
    margin: 0px;
    
}
main{
    width: 90%;
    max-block-size: 900px;
    inline-size: block;
    background-color: rgb(146, 126, 126);
}
header{
    background-image: url(/kepek/game.jpg);
    height: 300px;
    background-size: cover;
}
nav ul{
   
}
nav ul li :hover{
    display: inline-block;
    background-color: orange;
}
nav ul li a{
    font-size: bold;
   
}
article{
    font-size: 10px;
    
}
article h1{
    font-size: 15px;

}
article img{
    float: left;
}